<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="./assets/logos/firecape.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li style="line-height: 40px" class="">
        <a class="nav-link activey">Home <span class="sr-only">(current)</span></a>
      </li>
         <li style="line-height: 40px" class="nav-item active">
        <a style="vertical-align: middle" href="https://www.sythe.org/threads/25-donor-1-anteswedes-1-31-prayer-firecape-service-firecapes-com-10hp-1-pray-free-jad/" class="nav-link">Sythe</a>
      </li>
      <li style="line-height: 40px" class="nav-item active">
        <a style="vertical-align: middle" routerLink="pricing" class="nav-link">Prices</a>
      </li>
    </ul>
  </div>
</nav>
<div class="floatSoc">
<a href="skype:live:anteswede95/?add"><img src="../../../assets/logos/skype.png"></a>
    <br>
<img src="../../../assets/logos/discord.png">
    <br>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="banner">
      <img src="./assets/banner.gif" />
    </div>
  </div>
<h1>Previous Work</h1>
<hr>
  <div class="row">
    <div class="images">
      <div class="col" *ngFor="let image of images">
        <img class="image" src="{{image}}" width="25%" />
      </div>
    </div>
  </div>
</div>